body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.box {
  flex: 1;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:last-child {
  border-bottom: none;
}

.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adds spacing to prevent overlap */
}

.image-box img {
  width: 110%; /* Slightly larger than its normal size */
  max-width: 250px; /* Prevents it from getting too large */
}


.text-box {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.input-box {
  /* Style for the input box */
}

.terminal-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.terminal-content {
  width: 100%;
}

.text-box {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  flex-direction: column; /* Add this line */
}
